.small-heading {
  font-size: 1rem; /* Tamaño de letra más pequeño */
}

.cursor-pointer {
  cursor: pointer;
}

.grand-heading {
  font-size: 5rem;
}

.small-s-heading {
  font-size: 0.8rem;
}

.medium-heading {
  font-size: 1.5rem;
}

.medium-m-heading {
  font-size: 2.5rem;
}
